body.page-template-page-about-us {
  .about-us-section {
    .section-content {
      p {
        &.lead {
          font-size: rem-calc(40px);
          line-height: 1.2;
          @include media-breakpoint-down(md) {
            font-size: rem-calc(30px);
          }
          @include media-breakpoint-down(sm) {
            font-size: rem-calc(21px);
          }
        }
      }
    } 
  } 
}

.welcome-section {
  padding: 60px 0;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  & > .container-xl {
    & > .row {
      @include media-breakpoint-down(xl) {
        justify-content: center;
      }
      @include media-breakpoint-down(md) {
        justify-content: flex-start;
      }
    }
  }
  .section-image {
    .manager-card {
      position: absolute;
      z-index: 1;
      min-width: 170px;
      right: -85px;
      bottom: 60px;
      @include media-breakpoint-down(md) {
        min-width: calc(52.5vw - 5vw);
        right: auto;
        bottom: 40px;
        left: 47.5vw;
      }
    }
  }
  .section-content {
    gap: 30px;
    @include media-breakpoint-down(md) {
      gap: 20px;
    }
    &:before {
      content: '';
      background: $gray-200;
      position: absolute;
      z-index: -1;
      top: -60px;
      right: 0;
      bottom: -60px;
      left: -295px;
      @include media-breakpoint-down(md) {
        left: -30px;
        right: -30px;
        bottom: -275px;
      }
      @include media-breakpoint-down(sm) {
        top: -40px;
      }
    }
    p {
      font-size: rem-calc(18px);
      line-height: 1.33;
      font-weight: 300;
      color: $gray-600;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16px);
      }
    }
  }
  .section-title {
    gap: 20px;
    color: $gray-900;
    font-size: rem-calc(40px);
    line-height: 1.2;
    font-family: $font-family-serif;
    font-weight: 700;
    @include media-breakpoint-down(xl) {
      font-size: rem-calc(30px);
    }
    @include media-breakpoint-down(md) {
      gap: 10px;
      font-size: rem-calc(24px);
      line-height: 1.25;
    }
    .section-subtitle {
      color: $primary;
      font-family: $font-family-base;
      font-size: rem-calc(16px);
      font-weight: 400;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(14px);
        line-height: 1;
      }
    }
  }
}

.manager-card {
  box-shadow: 0 10px 14px 0px rgba(0,0,0,.04);
  background: $white;
  border-radius: 10px;
  .card-header {
    padding: 14px;
    gap: 2px;
    .card-title {
      font-size: rem-calc(21px);
      line-height: 1;
      font-weight: 400;
      font-family: $font-family-base;
      color: $gray-900;
    }
    .card-meta {
      font-size: rem-calc(16px);
      line-height: 1.4375;
      font-weight: 300;
    }
  }
  .card-footer {
    background: $primary;
    padding: 10px;
  }
}

.manager-contact-list {
  gap: 20px;
  li {
    a {
      &:hover {
        svg {
          path {
            fill: $gray-900;
          }
        }
      }
      svg {
        width: 24px;
        height: 24px;
        path {
          fill: $white;
          transition: $transition-base;
        }
      }
    }
  }
}

.about-video-section {
  padding: 60px 0 0;
  background: $gray-900;
  margin-bottom: 180px;
  @include media-breakpoint-down(md) {
    margin-bottom: 135px;  
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0 0;
    margin-bottom: 80px;
  }
  .section-content {
    gap: 40px;
    @include media-breakpoint-down(sm) {
      gap: 30px;
    }
  }
  .section-header {
    gap: 30px;
    .section-title {
      color: $white;
      font-size: rem-calc(60px);
      font-weight: 700;
      line-height: 1;
      max-width: 460px;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(40px);
      }
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(30px);
      }
    }
    p {
      font-size: rem-calc(18px);
      line-height: 1.33;
      font-weight: 300;
      color: $gray-500;
      margin: 0;
      max-width: 600px;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16px);
      }
    }
  }
  .section-video {
    border-radius: 16px;
    overflow: hidden; 
    margin-bottom: -120px;
    @include media-breakpoint-down(md) {
      margin-bottom: -80px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: -40px;
    }
  }
}

.about-photo-section {
  padding: 0 0 60px;
  @include media-breakpoint-down(sm) {
    padding: 0 0 40px;
  }
  .section-content {
    gap: 30px;
    &:after {
      content: '';
      width: 350px;
      height: 360px;
      background: $green;
      position: absolute;
      z-index: -1;
      left: -150px;
      bottom: -60px;
      @include media-breakpoint-down(sm) {
        bottom: -40px;
        height: 160px;
        width: 55vw;
        left: -20px;
      }
    }
    @include media-breakpoint-down(sm) {
      gap: 20px;
    }
  }
} 

.about-photo-slider {
  width: 100%; 
  max-width: 100%; 
  min-height: 0; 
  min-width: 0;
  
  & + .swiper-pagination {
    gap: 6px;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: $primary;
      opacity: 0.4;
      margin: 0 4px;
      transition: $transition-base;
      &:not(.swiper-pagination-bullet-active):hover {
        outline: 1px solid rgb(200, 168, 152, 0.6);
        outline-offset: 3px;
        opacity: 0.6;
      }
      &.swiper-pagination-bullet-active {
        opacity: 1;
        outline: 1px solid $primary;
        outline-offset: 3px;
      }
    }
  }
}

.about-photo-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 38.144329896907216% repeat(2, 1fr);
  grid-template-rows: 44.32% 1fr;
  @include media-breakpoint-down(lg) {
    gap: 20px;
  }
  @include media-breakpoint-down(sm) {
    gap: 10px;
  }
  .photo-card {
    &:first-child {
      grid-row: 1 / 4;
    }
    &:last-child {
      grid-column: 2 / 4;
      grid-row: 2 / 4;
    }
    & > img {
      object-fit: cover;
    }
  }
}

.about-team-section {
  padding: 60px 0;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .section-content {
    gap: 30px;
    @include media-breakpoint-down(md) {
      gap: 20px;
    }
    p {
      font-size: rem-calc(18px);
      line-height: 1.33;
      font-weight: 300;
      color: $gray-600;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16px);
      }
    }
  }
  .section-title {
    gap: 20px;
    color: $gray-900;
    font-size: rem-calc(40px);
    line-height: 1.2;
    font-family: $font-family-serif;
    font-weight: 700;
    @include media-breakpoint-down(xl) {
      font-size: rem-calc(30px);
    }
    @include media-breakpoint-down(md) {
      gap: 10px;
      font-size: rem-calc(24px);
      line-height: 1.25;
    }
    .section-subtitle {
      color: $primary;
      font-family: $font-family-base;
      font-size: rem-calc(16px);
      font-weight: 400;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(14px);
        line-height: 1;
      }
    }
  }
}

.team-slider {
  width: 100%;
  max-width: 100%;
  max-height: 100vh; 
  min-height: 0; 
  min-width: 0; 
  margin-top: -54px;
  @include media-breakpoint-down(sm) {
    margin-top: -48.13px;
  }
  .swiper-wrapper {
    transition-timing-function: linear!important;
    .swiper-slide {
      max-width: 33.333%;
      @include media-breakpoint-down(sm) {
        max-width: 50%;
      }
    }
  }
}

.team-card {
  transform: translateY(54px);
  transition: $transition-base;
  @include media-breakpoint-down(sm) {
    transform: translateY(48.13px);
  }
  &:hover {
    transform: translateY(0);
  }
  .card-img {
    border-radius: 10px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-caption {
    padding-top: 10px;
    h3 {
      font-size: rem-calc(21px);
      line-height: 1;
      color: $gray-900;
      font-weight: 400;
      font-family: $font-family-base;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(18px);
      }
    }
    p {
      font-size: rem-calc(16px);
      line-height: 1.4375;
      font-weight: 300;
      color: $gray-600;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(14px);
      }
    }
  }
}

.faq-section {
  padding: 60px 0;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .section-header {
    gap: 30px;
    @include media-breakpoint-down(md) {
      gap: 20px;
    }
    p {
      font-size: rem-calc(18px);
      line-height: 1.33;
      font-weight: 300;
      color: $gray-600;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16px);
      }
    }
    .help-widget {
      position: sticky;
      top: 30px;
    }
  }
  .section-title {
    gap: 20px;
    color: $gray-900;
    font-size: rem-calc(40px);
    line-height: 1.2;
    font-family: $font-family-serif;
    font-weight: 700;
    @include media-breakpoint-down(xl) {
      font-size: rem-calc(30px);
    }
    @include media-breakpoint-down(md) {
      gap: 10px;
      font-size: rem-calc(24px);
      line-height: 1.25;
    }
    .section-subtitle {
      color: $primary;
      font-family: $font-family-base;
      font-size: rem-calc(16px);
      font-weight: 400;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(14px);
        line-height: 1;
      }
    }
  }
  .section-content {
    gap: 30px;
    &:before {
      content: '';
      background: $white;
      position: absolute;
      z-index: -1;
      top: -60px;
      bottom: -60px;
      left: calc(-8.33333% - 30px);
      width: 100vw;
      @include media-breakpoint-down(sm) {
        top: -40px;
        bottom: -40px;
      }
    }
  }
}

.faq-single-category {
  gap: 30px;
  .category-title {
    font-size: rem-calc(30px);
    font-weight: 700;
    line-height: 1.13;
    color: $gray-900;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(98, 98, 98, 0.15);
  }
}

.faq-list {
  padding-left: 30px;
  gap: 25px;
  .list-item {
    .faq-title {
      font-size: rem-calc(21px);
      font-weight: 400;
      line-height: 1;
      color: $gray-900;
      text-decoration: none;
      gap: 15px;
      transition: $transition-base;
      &:hover, &:focus-visible {
        color: $primary;
      }
      &.open {
        .caret {
          transform: rotate(0);
        }
      }
      .caret {
        transition: $transition-base;
        flex-shrink: 0;
        transform: rotate(180deg);
      }
    }
    .faq-content {
      font-size: rem-calc(18px);
      line-height: 1.33;
      font-weight: 300;
      color: $gray-600;
      margin: 0;
      padding: 20px 20px 0 0;
      @include media-breakpoint-down(md) {
        font-size: rem-calc(16px);
      }
      a {
        color: $gray-600;
        text-decoration: underline;
        &:hover, &:focus-visible {
          color: $primary;
        }
      }
    }
  }
}

.accordion {
  &:not(.open) {
    & + .panel {
      display: none;
      max-height: 0;
      overflow: hidden;
    }      
  }
}

.help-widget {
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  gap: 15px;
  max-width: 270px;
  .widget-title {
    font-size: rem-calc(21px);
    line-height: 1;
    color: $gray-900;
    font-weight: 400;
    font-family: $font-family-base;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(98, 98, 98, 0.15)
  }
  .link-list {
    gap: 30px;
    li {
      font-size: rem-calc(16px);
      line-height: 1.4375;
      a {
        color: $gray-600;
        text-decoration: underline;
        transition: $transition-base;
        &:hover, &:focus-visible {
          color: $primary;
        }
      }
    }
  }
}
