body.single-projects {
  
}

.single-project-hero {
  .project-hero-slider {
    background: $gray-900;
    height: 460px;
    .swiper-slide {
      width: auto;
      overflow: hidden;
      /* &:hover {
        & > img {
          transform: scale(1.05);
        }
      }
      & > img {
        transition: $transition-base;
      } */
    }
  }
  .slider-controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -18px;
    .slide-prev, .slide-next {
      border-width: 2px;
      border-color: rgb(248, 247, 243);
      border-style: solid;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      transition: $transition-base;
      & > svg {
        transition: $transition-base;
      }
      &:hover {
        background: $white;
        & > svg {
          stroke: $green;
        }
      }
    }
    .slide-prev {
      & > svg {
        margin-left: -2px;
      }
    }
    .slide-next {
      & > svg {
        transform: rotate(180deg);
        margin-right: -2px;
      }
    }
  }

  .project-details {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(33, 33, 33, 0.1);
    .col-xl-2:first-child {
      border-right: 2px solid rgba(33, 33, 33, 0.1);
      gap: 10px;
    }
    .col-xl-8 {
      gap: 8px;
    }
    .col-xl-2:last-child {
      border-left: 2px solid rgba(33, 33, 33, 0.1);
      gap: 10px;
    }
    .project-title {
      font-size: rem-calc(40px);
      font-weight: 700;
      line-height: 1;
      color: $gray-900;
    }
    .details-subtitle {
      font-size: rem-calc(20px);
      font-weight: 700;
      color: $gray-900;
      font-family: $font-family-serif;
    }
    .slides-counter {
      font-family: $font-family-serif;
      font-size: rem-calc(30px);
      line-height: 24px;
      font-weight: 700;
      color: rgba(98, 98, 98, 0.6);
      width: auto;
      .swiper-pagination-total {
        color: $gray-600;
      }
    }
  }
}

.share-list {
  gap: 10px;
  li {
    a {
      &:hover {
        svg {
          path {
            fill: $green;
          }
        }
      }
    }
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $gray-900;
        transition: $transition-base;
      }
    }
  }
}

.project-description {
  padding: 60px 0 30px;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 20px;
  }
  p {
    color: $gray-600;
    font-size: rem-calc(18px);
    line-height: 1.33;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(16px);
    }
    &:last-child {
      margin: 0;
    }
  }
}

.project-video {
  padding: 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  .ratio {
    border-radius: 16px;
    overflow: hidden;   
  }
}

.project-package-section {
  padding: 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  .section-image {
    &:before {
      content: '';
      width: 450px;
      height: 370px;
      background: $green;
      position: absolute;
      left: -170px;
      bottom: -180px;
      z-index: -1;
    }
  }
  .package-img {
    border-radius: 16px;
    overflow: hidden;
    & > img {
      transition: $transition-base;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .section-content {
    gap: 30px;
    padding-top: 60px;
    p {
      margin: 0;
      font-size: rem-calc(18px);
      line-height: 1.33;
      color: $gray-600;
      font-weight: 300;
    }
  }
  .section-title {
    font-size: rem-calc(40px);
    line-height: 1.2;
    font-family: $font-family-base;
    color: $gray-900;
    gap: 15px;
    font-weight: 400;
    .section-subtitle {
      font-size: rem-calc(16px);
      line-height: 1;
      color: $primary;
    }
  }
}

.package-features-list {
  gap: 15px;
  li {
    gap: 15px;
    font-size: rem-calc(18px);
    color: $gray-900;
    line-height: 28px;
    svg {
      width: 28px;
      height: 28px;
      path {
        fill: $primary;
      }
    }
  }
}

.project-reels-section {
  padding: 30px 0 60px;
  @include media-breakpoint-down(sm) {
    padding: 20px 0 40px;
  }
  .section-content {
    gap: 30px;
    padding-top: 180px;
    p {
      margin: 0;
      font-size: rem-calc(18px);
      line-height: 1.33;
      color: $gray-600;
      font-weight: 300;
    }
  }
  .section-title {
    font-size: rem-calc(40px);
    line-height: 1.2;
    color: $gray-900;
    gap: 15px;
    font-weight: 700;
    .section-subtitle {
      font-size: rem-calc(16px);
      font-weight: 400;
      line-height: 1;
      color: $primary;
      font-family: $font-family-base;
    }
  }
  .image-section {
    &:before {
      content: '';
      width: 550px;
      height: 350px;
      background: $green;
      position: absolute;
      left: 200px;
      bottom: -60px;
      z-index: -1;
    }
    .col-lg-6 {
      gap: 30px;
    }
    .btn {
      height: 95px;
    }
  }
  .section-img {
    border-radius: 16px;
    overflow: hidden; 
    &:hover {
      & > img {
        transform: scale(1.05);
      }
    }
    & > img {
      transition: $transition-base;
    }
  }
}

/* 
.projects-section {
  padding: 60px 0;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .section-header {
    gap: 30px;
    margin-bottom: 60px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
    h2 {
      color: $gray-900;
      font-size: rem-calc(60px);
      line-height: 1;
      max-width: 670px;
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(40px)
      }
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(30px)
      }
    }
    p {
      color: $gray-600;
      font-size: rem-calc(18px);
      font-weight: 300;
      line-height: 1.33;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(16px)
      }
    }
  }
  .project-list {
    margin-bottom: 60px;
    row-gap: 30px;
    @include media-breakpoint-down(xl) {
      row-gap: 20px;
    }
    @include media-breakpoint-down(sm) {
      row-gap: 10px;
      --bs-gutter-x: 0.625rem;
      margin-bottom: 30px;
    }
  }
}

.project-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
  &:hover {
    .card-img {
      transform: scale(1.05);
    }
  }
  .card-img {
    transition: $transition-base;
  }
  .card-img-overlay {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      transparent
    );
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .card-title {
    font-size: rem-calc(24px);
    font-weight: 700;
    color: $white;
    font-family: $font-family-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(18px);
    }
  }
  .card-meta {
    gap: 3px;
    & > li {
      font-size: rem-calc(14px);
      font-weight: 300;
      line-height: 1.66;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(13px);
        line-height: 1.2;
      }
      &:not(:last-child) {
        &:after {
          content: ' | '
        }
      }
    }
  }
}

.projects-services-section {
  padding: 60px 0;
  //overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .section-image {
    z-index: 1;
    & > img {
      height: auto;
      object-fit: cover;
      @include media-breakpoint-down(md) {
        margin: -40px calc(calc(15px + 1.25%) * -1);
        width: 100vw !important;
        max-width: none;
        min-height: 240px;
        height: calc(100% + 40px)!important;
      }
    }
    .square {
      background: $green;
      z-index: -1;
      width: 350px;
      height: 400px;
      position: absolute;
      bottom: -210px;
      left: -65px;
      @include media-breakpoint-down(md) {
        bottom: -80px;
        left: -170px;
        top: 0;
        height: auto;
      }
    }
  }
  .section-content {
    gap: 40px;
    z-index: 2;
    @include media-breakpoint-down(md) {
      order: -1;
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      text-align: left;
      gap: 30px;
    }
    .section-title {
      line-height: 1.2;
      color: $gray-900;
      font-size: rem-calc(40px);
      gap: 20px;
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(32px);
      }
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(24px);
        gap: 10px;
      }
      small {
        font-size: rem-calc(16px);
        line-height: 1;
        color: $primary;
        font-family: $font-family-base;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
          font-size: rem-calc(14px);
        }
      }
    } 
    p {
      color: $gray-600;
      font-size: rem-calc(18px);
      font-weight: 300;
      line-height: 1.33;
      margin: 0;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(16px)
      }
    }
    .project-services-list {

    }
  }
}

.project-services-list {
  gap: 30px;
  @include media-breakpoint-down(lg) {
    gap: 20px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    gap: 15px;
  }
  .list-item {
    background: $white;
    padding: 30px 25px;
    border-radius: 20px;
    gap: 10px;
    width: 220px;
    transition: $transition-base;
    @include media-breakpoint-down(md) {
      width: auto;
      flex-grow: 1;
      flex-basis: 0;
    }
    @include media-breakpoint-down(sm) {
      gap: 20px;
    }
    &:hover, &:focus-visible {
      background: $green;
      h3 {
        color: $gray-100;
      }
      p {
        color: $gray-100;
        opacity: 0.6;
      }
    }
    .item-icon {
      width: 90px;
      height: 90px;
      margin-bottom: 10px;
      flex-shrink: 0;
    }
    .item-meta {
      gap: 10px;
      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }
    h3 {
      margin: 0;
      font-size: rem-calc(18px);
      color: $gray-900;
      font-weight: 400;
      font-family: $font-family-base;
      transition: $transition-base;
    }
    p {
      margin: 0;
      color: $gray-600;
      font-size: rem-calc(13px);
      font-weight: 300;
      transition: $transition-base;
      opacity: 1;
    }
  }
}

.projects-about-us-section {
  padding: 60px 0;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 0;
  }
  .row {
    @include media-breakpoint-down(sm) {
      gap: 40px;
    }
  }
  .section-content {
    gap: 30px;
    padding-top: 150px;
    @include media-breakpoint-down(md) {
      padding-top: 20px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      gap: 20px;
    }
  }
  .section-title {
    line-height: 1.2;
    color: $gray-900;
    font-size: rem-calc(40px);
    gap: 20px;
    @include media-breakpoint-down(lg) {
      font-size: rem-calc(32px);
    }
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(24px);
      gap: 10px;
    }
    small {
      font-size: rem-calc(16px);
      line-height: 1;
      color: $primary;
      font-family: $font-family-base;
      font-weight: 400;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(14px);
      }
    }
  } 
  p {
    color: $gray-600;
    font-size: rem-calc(18px);
    font-weight: 300;
    line-height: 1.33;
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(16px)
    }
  }
}

.about-us-card {
  @include media-breakpoint-down(sm) {
    margin: 0 -15px;
  }
  &:hover {
    .card-img {
      & > img {
        transform: scale(1.05);
      }
    }
  }
  .card-img {
    & > img {
      transition: $transition-base;   
      object-fit: cover;
    }
  }
  .card-caption {
    padding: 24.5px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(33, 33, 33, 0.2);
    backdrop-filter: blur(5px);
    height: 95px;
    @include media-breakpoint-down(md) {
      padding-left: 20px;
      padding-right: 20px;
    }
    h3 {
      margin: 0;
      font-size: rem-calc(16px);
      font-weight: 300;
      font-family: $font-family-base;
      line-height: 1.4375;
      color: $white;
      padding-right: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      flex-grow: 1;
      flex-basis: 0;
      @include media-breakpoint-down(xl) {
        border-right: none;
        padding-right: 0;
      }
    }
    .socials-list {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  .read-more-btn {
    font-size: rem-calc(18px);
    line-height: 1.2;
    position: absolute;
    left: -170px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: center;
    text-align: center;
  }
}

.socials-list {
  gap: 20px;
  & > li {
    a {
      border-width: 1px;
      border-color: rgba(249, 248, 247, 0.3);
      border-style: solid;
      border-radius: 50%;
      width: 33px;
      height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-base;
      &:hover, &:focus-visible {
        background-color: $white;
        border-color: $white;
        svg {
          path, circle {
            fill: $gray-900;
          }
        }
      }
      svg {
        width: 18px;
        height: 18px;
        path, circle {
          transition: $transition-base;
          fill: $white;
        }
      }
    }
  }
} */