body.single-projects {
  .masonry-section {
    padding-bottom: 30px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
    .masonry-grid {
      margin-bottom: 0;
    }
  } 
}

.single-project-hero {
  .project-hero-slider {
    background: $gray-900;
    height: 460px;
    @include media-breakpoint-down(lg) {
      height: 370px;
    }
    @include media-breakpoint-down(md) {
      height: 290px;
    }
    @include media-breakpoint-down(sm) {
      height: 210px;
    }
    .swiper-slide {
      width: auto;
      overflow: hidden;
      /* &:hover {
        & > img {
          transform: scale(1.05);
        }
      }
      & > img {
        transition: $transition-base;
      } */
    }
  }
  .slider-controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -18px;
    .slide-prev, .slide-next {
      border-width: 2px;
      border-color: rgb(248, 247, 243);
      border-style: solid;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      transition: $transition-base;
      & > svg {
        transition: $transition-base;
      }
      &:hover {
        background: $white;
        & > svg {
          stroke: $green;
        }
      }
    }
    .slide-prev {
      & > svg {
        margin-left: -2px;
      }
    }
    .slide-next {
      & > svg {
        transform: rotate(180deg);
        margin-right: -2px;
      }
    }
  }

  .project-details {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(33, 33, 33, 0.1);
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .col-sm-2:first-child {
      border-right: 2px solid rgba(33, 33, 33, 0.1);
      gap: 10px;
      @include media-breakpoint-down(md) {
        gap: 8px;
      }
      @include media-breakpoint-down(sm) {
        border-right: none;
      }
    }
    .col-sm-8 {
      gap: 8px;
      @include media-breakpoint-down(md) {
        gap: 4px;
      }
      @include media-breakpoint-down(sm) {
        order: 1;
      }
    }
    .col-sm-2:last-child {
      border-left: 2px solid rgba(33, 33, 33, 0.1);
      gap: 10px;
      @include media-breakpoint-down(md) {
        gap: 8px;
      }
      @include media-breakpoint-down(sm) {
        border-left: none;
      }
    }
    .project-title {
      font-size: rem-calc(40px);
      font-weight: 700;
      line-height: 1;
      color: $gray-900;
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(30px);
      }
    }
    .details-subtitle {
      font-size: rem-calc(20px);
      font-weight: 700;
      color: $gray-900;
      font-family: $font-family-serif;
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(16px);
      }
    }
    .slides-counter {
      font-family: $font-family-serif;
      font-size: rem-calc(30px);
      line-height: 24px;
      font-weight: 700;
      color: rgba(98, 98, 98, 0.6);
      width: auto;
      .swiper-pagination-total {
        color: $gray-600;
      }
    }
  }
}

.share-list {
  gap: 10px;
  @include media-breakpoint-down(md) {
    gap: 8px;
  }
  li {
    a {
      &:hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $gray-900;
        transition: $transition-base;
      }
    }
  }
}

.project-description {
  padding: 60px 0 30px;
  @include media-breakpoint-down(sm) {
    padding: 20px 0 0;
  }
  p {
    color: $gray-600;
    font-size: rem-calc(18px);
    line-height: 1.33;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(16px);
    }
    &:last-child {
      margin: 0;
    }
  }
}

.project-video {
  padding: 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  .ratio {
    border-radius: 16px;
    overflow: hidden;   
  }
}

.project-package-section {
  padding: 30px 0;
  @include media-breakpoint-down(sm) {
    padding: 20px 0 80px;
    &:after {
      content: '';
      width: 180px;
      height: 150px;
      background: $green;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .section-image {
    &:before {
      content: '';
      width: 450px;
      height: 370px;
      background: $green;
      position: absolute;
      left: -170px;
      bottom: -180px;
      z-index: -1;
    }
  }
  .package-img {
    border-radius: 16px;
    overflow: hidden;
    & > img {
      transition: $transition-base;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .section-content {
    gap: 30px;
    padding-top: 60px;
    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
    @include media-breakpoint-down(sm) {
      gap: 20px;
    }
    p {
      margin: 0;
      font-size: rem-calc(18px);
      line-height: 1.33;
      color: $gray-600;
      font-weight: 300;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(16px)
      }
    }
  }
  .section-title {
    font-size: rem-calc(40px);
    line-height: 1.2;
    font-family: $font-family-base;
    color: $gray-900;
    gap: 15px;
    font-weight: 400;
    @include media-breakpoint-down(md) {
      font-size: rem-calc(32px)
    }
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(24px);
      gap: 10px;
    }
    .section-subtitle {
      font-size: rem-calc(16px);
      line-height: 1;
      color: $primary;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(14px)
      }
    }
  }
}

.package-features-list {
  gap: 15px;
  li {
    gap: 15px;
    font-size: rem-calc(18px);
    color: $gray-900;
    line-height: 28px;
    svg {
      width: 28px;
      height: 28px;
      path {
        fill: $primary;
      }
    }
  }
}

.project-reels-section {
  padding: 30px 0 60px;
  @include media-breakpoint-down(sm) {
    padding: 20px 0 40px;
  }
  .section-content {
    gap: 30px;
    padding-top: 180px;
    @include media-breakpoint-down(md) {
      padding-top: 0;
      margin-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      gap: 20px;
    }
    p {
      margin: 0;
      font-size: rem-calc(18px);
      line-height: 1.33;
      color: $gray-600;
      font-weight: 300;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(16px)
      }
    }
  }
  .section-title {
    font-size: rem-calc(40px);
    line-height: 1.2;
    color: $gray-900;
    gap: 15px;
    font-weight: 700;
    @include media-breakpoint-down(md) {
      font-size: rem-calc(32px)
    }
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(24px);
      gap: 10px;
    }
    .section-subtitle {
      font-size: rem-calc(16px);
      font-weight: 400;
      line-height: 1;
      color: $primary;
      font-family: $font-family-base;
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(14px)
      }
    }
  }
  .image-section {
    &:before {
      content: '';
      width: 550px;
      height: 350px;
      background: $green;
      position: absolute;
      left: 200px;
      bottom: -60px;
      z-index: -1;
      @include media-breakpoint-down(sm) {
        left: 80px;
        bottom: -40px;
        height: 180px;
      }
    }
    .col-6 {
      gap: 30px;
      @include media-breakpoint-down(md) {
        gap: 20px;
      }
      @include media-breakpoint-down(sm) {
        gap: 15px;
      }
    }
    .btn {
      height: 95px;
      @include media-breakpoint-down(lg) {
        height: auto;
      }
    }
  }
  .section-img {
    border-radius: 16px;
    overflow: hidden; 
    & > img {
      transition: $transition-base;
      &:hover { 
        transform: scale(1.05);
      }
    }
  }
}