.header-nav {
  padding: 20px 0;
  z-index: 99;
  &.position-absolute {
    .logo {
      svg {
        path {
          fill: $gray-100;
        }
      }
      &:hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
    hr {
      background-color: $gray-200;
    }
    .nav-contact-list {
      li {
        a {
          color: $gray-200;
          &:hover, &:focus-visible {
            color: $primary;
            svg {
              path, circle {
                fill: $primary;
              }
            }
          }
          svg {
            path, circle {
              fill: $gray-200;
            }
          }
        }
      }
    }
    .top-nav-menu {
      li {
        a {
          color: $gray-100;
          &:hover, &:focus-visible {
            color: $primary;
          }
          &.active {
            color: $primary;
          }
        }
      }
    }
    .hamburger {
      & > span {
        background: $gray-200;
      }
      &:hover, &:focus-within {
        & > span {
          background: $gray-100;
        }
      }
    }
  }
  .logo {
    svg {
      @include media-breakpoint-down(sm) {
        width: 103px;
        height: auto;
      }
      path {
        fill: $gray-900;
        transition: $transition-base;
      }
    }
    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
  hr {
    background-color: $primary;
    opacity: 1;
    margin: 10px 0;
  }
  .hamburger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav-contact-list {
  gap: 30px;
  li {
    font-size: rem-calc(14px);
    text-transform: uppercase;
    font-weight: 300;
    a {
      color: rgba(74, 99, 96, 0.6);
      text-decoration: none;
      transition: $transition-base;
      &:hover, &:focus-visible {
        color: $primary;
        svg {
          path, circle {
            fill: $primary;
          }
        }
      }
      svg {
        width: 18px;
        height: 18px;
        path, circle {
          transition: $transition-base;
          fill: rgba(74, 99, 96, 0.6);
        }
      }
    }
  }
}

.top-nav-menu {
  gap: 30px;
  li {
    font-size: rem-calc(16px);
    text-transform: uppercase;
    //font-weight: 300;
    @include media-breakpoint-down(xl) {
      font-size: rem-calc(14px);
    }
    a {
      color: $gray-600;
      text-decoration: none;
      transition: $transition-base;
      border-bottom: 1px solid transparent;
      &:hover, &:focus-visible {
        color: $primary;
      }
      &.active {
        color: $primary;
      }
    }
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &:hover, &:focus-within {
    & > span {
      width: 34px;
      background: $primary;
      &:first-child, &:last-child {
        width: 23px;
      }
    }
  }
  & > span {
    height: 3px;
    background: $gray-900;
    width: 23px;
    transition: $transition-base;
    &:first-child, &:last-child {
      width: 34px;
    }
  } 
}