.btn {
  gap: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: rem-calc(16px);
  }
  & > svg {
    path {
      transition: $transition-base;
    }
  }

  &.btn-primary {
    color: $white;
    svg {
      path {
        fill: $white;
      }
    }
  }

  &.btn-outline-primary {
    svg {
      path {
        fill: $primary;
      }
    }
    &:hover, &:focus-visible {
      color: $gray-100;
      svg {
        path {
          fill: $gray-100;
        }
      }
    }
  }
}
