@charset "utf-8";

@import 'bootstrap/bootstrap';

@import 'functions/functions';

@import 'settings/fonts';
@import 'settings/variables';

// mixins
@import 'mixins/elements';

// elements
@import 'elements/forms';
@import 'elements/buttons';

// blocks
@import 'blocks/nav';
@import 'blocks/off-canvas-nav';
@import 'blocks/footer';

// pages
@import 'pages/homepage';
@import 'pages/projects';
@import 'pages/single-project';

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  & > main {
    flex-grow: 1;
  }
}

.container-xl {
  width: 97.5%;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.row {
  @include media-breakpoint-down(xl) {
    --bs-gutter-x: 1.25rem;
  }
  @include media-breakpoint-down(sm) {
    --bs-gutter-x: 0.9375rem;
  }
}

a {
  &:focus {
    outline: none;
  }
}